DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=123456
DB_NAME=assinaturas

SFTP_HOST=
SFTP_PORT=
SFTP_USER=
SFTP_PASS=
SFTP_BASE_URL=https://seusite.com
NEXT_PUBLIC_SFTP_BASE_URL=https://assinaturas.nerus.com.br
SFTP_REMOTE_DIR=/
